.content {
    width: 100%;
    font-size: 15px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}


#nav-active {
    background-color: #3399ff;
}


.breadcrumb-bar a, .breadcrumb-bar span {
    text-decoration: none;
    color: #9c9b9b;
    font-size: 14px;
}

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 30px;
    margin-bottom: 30px;
}

.orders-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.orders-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px rgb(199, 224, 245);
    border-radius: 5px;

}
.search-box {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 5px; 
    margin-top: 20px; 
}

.search-box input {
    padding: 5px;
    border: 1px solid #c7e0f5; 
    border-radius: 5px;
    width: 250px;
    font-size: 14px; 
}

.search-box button {
    padding: 5px 20px; 
    background-color: #fff !important; 
     border: 1px solid #c7e0f5 !important; 
    border-radius: 5px; 
    font-size: 14px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #f1f1f1 !important; 
}

.table-viewport {
    width: 95%;
    overflow: hidden;
}

.orders-table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    border: rgb(199, 224, 245) solid 1px;
    margin: 20px 0px;
}

.orders-table th,
.orders-table td {
    border: 1px solid rgb(199, 224, 245);
    padding: 10px;
    text-align: center;
}

.orders-table th {
    background-color: #ffffff;
    border-bottom: 2px solid #575656;
}

.orders-table tr {
    background-color: #f2ecec;

}
.page-link {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.page-link {
    padding: 6px 16px;
    margin:5px 5px 15px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s;
}

.page-link:disabled,
.page-link[disabled],
.page-link.disabled {
    color: #aaa;
    background-color: #eee;
    border-color: #ddd;
    cursor: not-allowed;
}


.page-link:hover {
    background-color: #e2e2e2;
    border-color: #bbb;
}
.badge
{
  padding:3px;
  font-size: 13px;
  border-radius: 5px;
}
.badge.bg-success
{
    background-color: yellow;
}
.badge.bg-warning
{
    background-color: green;
}
.badge.bg-danger
{
    background-color: red;
}

